.App {
  text-align: center;
}

.app-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.content-wrap {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}